<div>
<h3> Prueba de WebSockets </h3>

<div id="contenedor">contenido del div</div>
<button id="boton" type="submit">Activar Socket</button>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/home.js"></script>